<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>code publish | v1.0</title>
    <meta name="description" content="这是差异页面">
    <meta name="keywords" content="log">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->


<div class="am-cf admin-main">
    <!-- sidebar start -->

    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl"><strong class="am-text-primary am-text-lg">差异信息</strong> /
                    <small><a href="/">返回首页</a></small>
                </div>
            </div>

            <hr/>

            <div class="am-g error-log">
                <div class="am-u-sm-12 am-u-sm-centered">
                    <p class="am-sans-serif"><span class="am-badge am-badge-primary am-radius">1</span>
                        这里是对比显示本地和线上的差异,应注意显示时差异文件的路径是否正确.</p>
                    <p class="am-sans-serif"><span class="am-badge am-badge-primary am-radius">2</span>
                        点击文件添加到复文本框指定推送,点击<i class="am-icon-cloud-download"></i>对比差异.</p>
                    <p class="am-sans-serif"><span class="am-badge am-badge-primary am-radius">3</span>
                        要同步目录中的文件，首先要确保目录已经存在!</p>
                    <!--<form method="post" class="am-form" action='push.html'> !-->
                    <pre class="am-pre-scrollable">
		
		%for lines in difffile:
			%if len(lines) != 0 and len(syncdirname) != 0 and "sending incremental" not in lines and "./" not in lines and "bytes/sec" not in lines and "DRY RUN" not in lines and "deleting" not in lines:
				<span class="am-text-success"> 
				<a href="#" onclick="Appendfile(this)">{{ syncdirname }}/{{ lines }} </a>[<a id="diff" href="#"><i
                        class="am-icon-cloud-download" value="/compare.html?filename={{ syncdirname }}/{{ lines }}"></i></a>]
				</span>
			%elif "deleting" in lines:
				<span class="am-text-success"> <a href="#">{{ lines }}</a></span>
			%end
		%end
        </pre>
                    <br/>
                    <style type="text/css">
                        .comments {
                            width: 100%; /*自动适应父布局宽度*/
                            overflow: auto;
                            word-break: break-all;
                        }
                    </style>
                    <form method="post" class="am-form" action='push.html'>
                        <div class="am-form-group">
                            <label for="doc-ta-1">指定推送的文件</label>
                            <textarea class="comments" name="pushfile" rows="6" id="doc-ta-11"></textarea>
                            <p><input type="submit" id="textsubmit" value="确认提交"
                                      class="am-btn am-btn-primary am-btn-sm am-fl">
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function Appendfile(obj) {
                var filepath = $("#doc-ta-11").val() + obj.innerText + "\r\n";
                $("#doc-ta-11").val(filepath);
            }
        </script>
        <footer class="admin-content-footer">
            <hr>
        </footer>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p>© 2016 JeremyGao, Inc. Contact: 780093098@qq.com</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/layer.js"></script>
<script>
    //弹出一个iframe层
    $('.am-icon-cloud-download').on('click', function () {
        //alert($(this).attr('value'));
        layer.open({
            type: 2,
            title: '----超强云端差异对比 by jeremy gao----',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['1024px', '768px'],
            content: $(this).attr('value')
        });
    });
</script>
<script>
    //button提交验证
    $('#textsubmit').on('click', function () {
        var pushcontent = $('.comments').val();
        if (pushcontent == "") {
            //询问
            if (window.confirm('没有指定提交文件,你确定要全部提交吗？')) {
                return true;
            } else {
                return false;
            }
        }
    });
</script>
</body>
</html>
