<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>code publish | v1.0</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/layer.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>乐来代码发布v1.0</h1>
        <p>^ ^ .此页面将输入的目录做差异对比,请注意输入正确的路径. ^ ^</p>
    </div>
    <hr/>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>One Step</h3>
        <hr>
        <div class="am-btn-group">
            <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
            <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i>
                Google+</a>
            <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i>
                stackOverflow</a>
        </div>
        <br>
        <br>

        <form method="post" class="am-form" action='diff.html'>
            <label for="email">本地路径:</label>
            <div class="am-input-group am-input-group-primary">
                <span class="am-input-group-label"><i class="am-icon-location-arrow am-icon-fw"></i></span>
                <input type="text" class="am-form-field" name="targetdir" id="targetdir"
                       placeholder="此处输入本地代码路径, example: /home/www/" required="true" style="width: 50%">
                <div class="am-animation-slide-right" style="float: right">
                    <label>点击按钮检出代码:</label>
                    <button type="button" class="am-btn am-btn-secondary" id="svnupdate">Svn UP</button>
                    <button type="button" class="am-btn am-btn-secondary">Git PU</button>
                </div>
            </div>
            <br>
            <label for="password">线上路径:</label>
            <div class="am-input-group am-input-group-primary">
                <span class="am-input-group-label"><i class="am-icon-location-arrow am-icon-fw"></i></span>
                <input type="text" class="am-form-field" name="destdir" id="destdir"
                       placeholder="此处输入线上代码路径, example: /home/www/" required="true" style="width:50%">
                <div class="am-animation-slide-right" style="float: right"><label>选择发布主机:</label>
                    <select data-am-selected="{btnStyle: 'secondary'}" name="hostip">
                        %for host in hostlist.strip().split():
                        <option value="{{ host }}">{{ host }}</option>
                        %end
                    </select>
                </div>
            </div>
            <br>
            <div>
                <label for="doc-ta-1">指定排除的文件：</label>
                <textarea class="comments" name="excludefile" rows="6" id="doc-ta-1"
                          placeholder="此处输入排除文件或者目录,一行一个!"></textarea>
            </div>
            <p class="am-kai">
                <i class="am-icon-cog am-icon-spin"></i>
                目录的写法,例:同步本地<a>/home/www</a>目录下的内容,要写成<a>/home/www/</a>,如果写成<a>/home/www</a>将同步home/目录下所有内容.
                <br/>
                <i class="am-icon-cog am-icon-spin"></i> 默认对比将排除".svn", "*.log"文件,此选项可在conf.ini更改.
                <br/>
                <i class="am-icon-cog am-icon-spin"></i> <a>host</a>下拉框列表值,此选项可在conf.ini更改.
            </p>
            <br>
            <div class="am-cf">
                <input type="submit" name="" value="开始对比" class="am-btn am-btn-primary am-btn-sm am-fl">
            </div>
        </form>
        <hr>
        <p>© 2016 <a>JeremyGao</a>, Inc. Contact: <a>780093098@qq.com</a></p>
    </div>
</div>
<script>
    //button提交检测目录合法性
    $(':submit').on('click', function () {
        var targetdir = $('#targetdir').val();
        var destdir = $('#destdir').val();
        if (targetdir.substr(targetdir.length - 1, 1) == "/" && destdir.substr(destdir.length - 1, 1) == "/") {
            return true;
        }
        else {
            layer.msg('骚年,目录请以"/"结束,谢谢合作!');
            return false;
        }
    });
</script>
<script>
    //svn up
    $('#svnupdate').on('click', function () {
        var targetdir = $('#targetdir').val();
        if (targetdir == "") {
            layer.msg('骚年,不要心急,先填写SVN UP目录好吗?');
            return false;
        }
        else {
            layer.open({
                type: 2,
                title: '----svn update by jeremy gao----',
                maxmin: true,
                shadeClose: true,
                area: ['1024px', '768px'],
                //content: $(this).attr('value')
                content: "svnupdate.html&" + targetdir
            });
        }
    });
</script>
</body>
</html>